{% extends 'base.html' %}

{% block content %}

<p>
    <ul class="w3-ul w3-white">
        
         <li class="w3-padding-16 w3-xlarge" >{% if current_user.is_authenticated %} Followed projects followed by all the other projects {% else %} All projects {% endif %}<div style="float:right;"><i class="fa-solid fa-scroll" title="Number of blocks"></i></i> &nbsp; <i class="fa-solid fa-bullhorn" title="Number of announcements"></i>&nbsp;  <i class="fa-solid fa-note-sticky" title="Number of notes"></i> &nbsp; <i class="fa-solid fa-bookmark" title="Number of followers"></i></div></li>
    </ul>
</p>
{% for project in projects %}

<p>

    <ul class="w3-ul w3-white w3-opacity w3-hover-opacity-off">
        <a href='/project/{{project['pid']}}'><li class="w3-dark-grey w3-xlarge w3-padding-32"> #{{project['pid']}} {{project['pname']}}
            <div style="float:right">{{project['blocks_count']}}&nbsp&nbsp&nbsp&nbsp{{project['announcements_count']}}&nbsp&nbsp&nbsp&nbsp{{project['notes_count']}}&nbsp&nbsp&nbsp&nbsp{{project['follower_count']}}</div>
        </li> </a>
        <li class="w3-padding-16">Added by <a href="/user/{{project['uid']}}">{{project['username']}}</a> on {{project['paddtime'].strftime('%B %d, %Y')}}</li> 
    </ul>

</p>

{% endfor %}

<form action="/projects/" method=GET>
    <div class="w3-center">
    <div class="buttons">
        {% for page in pages %}



        <button class="w3-button w3-light-grey w3-padding-large button-width" type="submit" , name="p" , value="{{page}}">
            {{page}}
        </button>


        {% endfor %}
    </div>
</div>
</form>

{% endblock %}