{% extends 'base.html' %}

{% block content %}


    <form action=/login/ method=POST>


        <p><input class="w3-input w3-padding-16" type="email" placeholder="Email Address" required name="email"></p>
        <p><input class="w3-input w3-padding-16" type="password" placeholder="Password" required name="password"></p>


        <p>
          <button class="w3-button w3-light-grey w3-padding-large" type="Sign In">
            <i class="fa fa-sign-in"></i> Login
          </button>
        </p>
        
    </form>

{% endblock %}