{% extends 'base.html' %}

{% block content %}
<h2>Note <a href="/note/{{note['nid']}}"> #{{note['nid']}}</a> for project <a href="/project/{{project['pid']}}">#{{project['pid']}}: {{project['pname']}}</a> </h2>

{% if note['tags']|length > 0 %}
Tags: {% for tag in note['tags'] %} {{tag['tname']}} {% endfor %}
{% else %}No tags{% endif %} 

<p>
    <ul class="w3-ul w3-white">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">{{note['ntitle']}} </li>
        <li class="w3-dark-grey w3-small w3-padding-16">Posted by {{user['uname']}} on {{note['naddtime'].strftime('%B %d, %Y at %H:%M:%S')}} </li>
        <li class="w3-padding-16">{{note['ntext']}}</li>
    </ul>
</p>

{% for reply in replies %}
    <p>
        <ul class="w3-ul w3-white">
            <li class="w3-dark-grey w3-small w3-padding-16">Posted by {{reply['runame']}} on {{reply['raddtime'].strftime('%B %d, %Y at %H:%M:%S')}} </li>
            <li class="w3-padding-16">{{reply['rtext']}}</li>
        </ul>

    </p>

{% endfor %}

{% endblock %}